<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Finder</title>
  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip To Content</a>
    <header class="head_bar">
      <nav class="nav">
        <ul class="nav-logo-pos">
          <li>
            <img
              src="../images/logo-brand.png"
              class="logo-img"
              alt="logo website"
            />
          </li>
          <li><h1 class="nav-logo">Restaurant Finder</h1></li>
        </ul>
        <button class="menuHamburger" tabindex="0">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
        <ul class="nav-bar">
          <li class="nav-item">
            <a href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a href="#" class="active">Favorites</a>
          </li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/digdoajiasrowi/">About Us</a>
          </li>
        </ul>
      </nav>
      <div class="hero">
        <div class="hero-text">
          <h1>Restaurant Finder</h1>
          <p>Find Your Best or Favorites Restaurant Nearby</p>
        </div>
      </div>
    </header>
    <main id="main-content">
      <!-- Explore Content -->
      <section class="content">
        <div class="heading">
          <h1 class="heading-label">Explore Restaurant</h1>
          <p class="heading-text">Let's Explore Restaurant in Your Area</p>
          <div class="posts-explore"></div>
        </div>
      </section>

      <!-- Review Content  -->
      <section class="content">
        <div class="heading">
          <h1 class="heading-label">Review Restaurant</h1>
          <p class="heading-text">What their reviews about the restaurants?</p>
          <div class="posts-review">
            <article class="card-item">
              <div class="comment-item__content">
                <div class="comment-item__avatar">
                  <img
                    src="https://images.pexels.com/photos/2406949/pexels-photo-2406949.jpeg"
                    class="img-avatar"
                    alt="avatar profile reviewer"
                  />
                  <div class="comment-item__title">
                    <h1>Rudy Hartono</h1>
                    <p>Customer from Cibaduyut</p>
                  </div>
                </div>
                <h2 class="comment-item__review">Review Resto: Run The Gun</h2>
                <div class="resto-rating">
                  <img
                    class="star-rating-resto"
                    src="../images/star-rating.svg"
                    alt="rating bintang lore"
                  />
                  <h2>4.2</h2>
                </div>
                <p class="comment-item__description">
                  "Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Possimus quia atque maxime ab perspiciatis aspernatur,
                  provident est eum ad, sint ea qui sunt totam, molestias
                  asperiores iste officiis laboriosam rerum."
                </p>
              </div>
            </article>

            <article class="card-item">
              <div class="comment-item__content">
                <div class="comment-item__avatar">
                  <img
                    src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg"
                    class="img-avatar"
                    alt="avatar profile reviewer"
                  />
                  <div class="comment-item__title">
                    <h1>Natalie Nam</h1>
                    <p>Influencer from Jakarta</p>
                  </div>
                </div>
                <h2 class="comment-item__review">Review Resto: Pangsit Express</h2>
                <div class="resto-rating">
                  <img
                    class="star-rating-resto"
                    src="../images/star-rating.svg"
                    alt="rating bintang"
                  />
                  <h2>5</h2>
                </div>
                <p class="comment-item__description">
                  "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
                  quas excepturi nam nostrum eius sit quibusdam minus
                  reprehenderit nobis in, accusantium repellat fuga reiciendis
                  similique nisi tempore rerum quidem officiis."
                </p>
              </div>
            </article>
          </div>
        </div>
      </section>

      <!-- Food Fact Content -->
      <section class="content">
        <div class="heading">
          <h1 class="heading-label">Food Fact</h1>
          <p class="heading-text">Fun fact about foods in restaurant</p>
          <div class="posts-fact"></div>
        </div>
      </section>
    </main>

    <footer>
      <p>Copyright &copy; 2022 - Restaurant Finder</p>
    </footer>
  </body>
</html>
