<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#035397"/>
    <meta name="description" content="Restaurant Finder - Find Your Best or Favorites Restaurant Nearby" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous" />
    <title>Restaurant Finder</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link" tabindex="0">Skip To Content</a>
    <header>
      <nav-web></nav-web>
      <hero-web></hero-web>
    </header>
    <main id="mainContent" tabindex="0"></main>
    <foot-web></foot-web>
  </body>
</html>
