<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Finder</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link" tabindex="0">Skip To Content</a>
    <header>
      <nav-web></nav-web>
      <hero-web></hero-web>
    </header>
    <main id="mainContent">
      <!-- Explore Content -->
      <section class="content">
        <div class="heading">
          <h1 class="heading-label">Explore Restaurant</h1>
          <p class="heading-text">Let's Explore Restaurant in Your Area</p>
          <div class="posts-explore"></div>
        </div>
      </section>

      <!-- Review Content  -->
      <section class="content">
        <div class="heading">
          <h1 class="heading-label">Review Restaurant</h1>
          <p class="heading-text">What their reviews about the restaurants?</p>
          <div class="posts-review">
            <article class="card-item">
              <div class="comment-item__content">
                <div class="comment-item__avatar">
                  <img
                    src="https://images.pexels.com/photos/2406949/pexels-photo-2406949.jpeg"
                    class="img-avatar"
                    alt="avatar profile reviewer"
                  />
                  <div class="comment-item__title">
                    <h1>Rudy Hartono</h1>
                    <p>Customer from Cibaduyut</p>
                  </div>
                </div>
                <h2 class="comment-item__review">Review Resto: Run The Gun</h2>
                <p class="comment-item__description">
                  "Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Possimus quia atque maxime ab perspiciatis aspernatur,
                  provident est eum ad, sint ea qui sunt totam, molestias
                  asperiores iste officiis laboriosam rerum."
                </p>
              </div>
            </article>

            <article class="card-item">
              <div class="comment-item__content">
                <div class="comment-item__avatar">
                  <img
                    src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg"
                    class="img-avatar"
                    alt="avatar profile reviewer"
                  />
                  <div class="comment-item__title">
                    <h1>Natalie Nam</h1>
                    <p>Influencer from Jakarta</p>
                  </div>
                </div>
                <h2 class="comment-item__review">Review Resto: Pangsit Express</h2>
                <p class="comment-item__description">
                  "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
                  quas excepturi nam nostrum eius sit quibusdam minus
                  reprehenderit nobis in, accusantium repellat fuga reiciendis
                  similique nisi tempore rerum quidem officiis."
                </p>
              </div>
            </article>
          </div>
        </div>
      </section>

      <!-- Food Fact Content -->
      <section class="content">
        <div class="heading">
          <h1 class="heading-label">Food Fact</h1>
          <p class="heading-text">Fun fact about foods in restaurant</p>
          <div class="posts-fact"></div>
        </div>
      </section>
    </main>
    <foot-web></foot-web>
  </body>
</html>
