@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

$default-body-color: #eee;
$skip-color: #fc3d0d;
$blue-color: #035397;
$shadow-hero: rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5);
$default-hero-color: #6bcb77;
$city-color: #f28841;
$rating-color: #116530;
$footer-color: #343f56;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $default-body-color;
}

body,
button {
  font-family: 'Open Sans', sans-serif;
}

button {
  font-size: 16px;
}

/* ======= Skip to Content ======= */

.skip-link {
  position: fixed;
  top: -46px;
  left: 0;
  background-color: $skip-color;
  color: white;
  border: none;
  padding: 12px;
  font-weight: 600;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  border-radius: 0 0 10px 0;
}

/* ======= header ======= */

header {
  display: inline;

  a {
    text-decoration: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px 0 20px;
  background-color: $blue-color;
  position: sticky;
  top: 0;
  z-index: 10;

  li {
    display: inline;
    list-style-type: none;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  padding: 0 1.2rem;

  a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    padding: 10px 2px;
  }

  a:hover {
    font-weight: bold;
  }
}

.logo-img {
  width: 35px;
  align-items: center;
  margin-top: 8px;
}

.nav-logo-pos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.nav-logo {
  font-size: 1rem;
  font-weight: bolder;
  color: white;
  cursor: default;
  margin: 14px 0 12px 10px;
}

.menuHamburger {
  display: none;
  background-color: $blue-color;
  border: none;

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url('../images/hero/hero-image.jpg');
  background-color: #6bcb77;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 380px;
  padding: 60px;
  text-align: center;
  color: white;
}

.hero-text {
  font-size: 16px;
  padding-top: 40px;

  h1 {
    margin: 0 auto;
  }
}

/* ======= main ======= */

main {
  width: 95%;
  margin: 0 auto;
}

.content {
  padding: 0 20px;
}

.heading {
  width: 100%;
  margin: 60px auto;
  text-align: center;
}

.heading-label {
  font-size: 32px;
  font-weight: 500;
}

.heading-text {
  font-size: 20px;
  font-weight: 300;
  margin-top: 12px;
}

/* Posts */

.posts-explore,
.posts-review,
.posts-fact {
  margin: 34px auto auto;
  text-align: left;
}

/* Card */

.card-item {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.card-item__content {
  padding: 18px 18px 28px;
}

.card-item__thumbnail {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-item__readmore {
  text-align: center;
  margin-top: 32px;

  a {
    font-size: 16px;
    padding: 12px 16px;
    box-sizing: border-box;
    font-weight: 600;
    color: $default-body-color;
    text-decoration: none;
    background-color: $blue-color;
    border: 2px solid $blue-color;
    border-radius: 6px;
    text-decoration: none;
  }

  a:hover {
    color: $blue-color;
    background-color: $default-body-color;
    border: 2px solid $blue-color;
  }
}

.contain-img-resto,
.contain-img-fact {
  position: relative;
  text-align: center;
  color: white;
}

/* Explore Content */

.city__top-left {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  font-weight: 600;
  background-color: $city-color;
  border-radius: 0 0 10px 0;
  padding: 10px;
}

.resto-item__title {
  font-weight: 600;
  font-size: 22px;
  transition: 0.3s opacity;

  a {
    text-decoration: none;
    color: inherit;
    padding: 12px 0;
  }

  a:hover {
    color: $blue-color;
    font-weight: 700;
  }
}

.resto-item__rating {
  margin: 14px 0;
}

.resto-item__description {
  display: -webkit-box;
  font-size: 15px;
  line-height: 1.5em;
  overflow: hidden;
  text-align: justify;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* Review Content */

.comment-item__content {
  padding: 18px;
}

.comment-item__avatar {
  display: flex;
  margin-bottom: 6px;

  .img-avatar {
    object-fit: cover;
    border: 1px solid $blue-color;
    border-radius: 100%;
    height: 65px;
    padding: 1px;
    width: 65px;
  }
}

.comment-item__title {
  margin-left: 1.2rem;
  margin-top: 0.4rem;

  h1 {
    font-size: 20px;
    font-weight: 600;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
  }
}

.comment-item__review {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  padding: 6px 0;
  margin: 4px 0 -6px;
}

.comment-item__description {
  margin-top: 18px;
  font-size: 15px;
  line-height: 1.5em;
  text-align: justify;
}

/* Star Rating Restaurant */

.resto-rating {
  display: flex;
  background-color: $rating-color;
  color: white;
  border-radius: 10px;
  padding: 0 8px;
  width: fit-content;

  h2 {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 8px 8px 4px;
  }
}

.star-rating-resto {
  width: 18px;
  margin: 0 6px 1px 2px;
}

/* Food Fact Content */

.fact-item__title {
  font-weight: 600;
  font-size: 22px;
}

.fact-item__date {
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
  margin: 16px 0;
}

.fact-item__date__author {
  color: $blue-color;
  text-decoration: none;
  padding: 16px 18px 16px 2px;
}

.fact-item__description {
  display: -webkit-box;
  font-size: 15px;
  line-height: 1.5em;
  overflow: hidden;
  text-align: justify;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

/* ======= footer ======= */

footer {
  padding: 30px;
  color: white;
  background-color: $footer-color;
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  text-align: center;
  font-weight: bold;
}
