@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

$default-body-color: #eee;
$skip-color: #fc3d0d;
$blue-color: #035397;
$white-color: #fff;
$black-color: #000;
$shadow-hero: rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5);
$default-hero-color: #6bcb77;
$city-color: #f28841;
$rating-color: #116530;
$footer-color: #343f56;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $default-body-color;
  font-family: 'Open Sans', sans-serif;
}

/* ======= Skip to Content ======= */

.skip-link {
  position: fixed;
  top: -46px;
  left: 0;
  background-color: $skip-color;
  color: $white-color;
  border: none;
  padding: 12px;
  font-weight: 600;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
  border-right: 3px solid $white-color;
  border-bottom: 3px solid $white-color;
  border-radius: 0 0 10px 0;
}

/* ======= header ======= */

header {
  display: inline;

  a {
    text-decoration: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px 0 20px;
  background-color: $blue-color;
  position: sticky;
  top: 0;
  z-index: 10;

  li {
    display: inline;
    list-style-type: none;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  padding: 0 1.2rem;

  a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: $white-color;
    padding: 10px 2px;
  }

  a:hover {
    font-weight: bold;
  }
}

.logo-img {
  width: 35px;
  height: 35px;
  align-items: center;
  margin-top: 4px;
}

.nav-logo-pos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.nav-logo {
  font-size: 1rem;
  font-weight: bolder;
  color: $white-color;
  cursor: default;
  margin: 14px 0 12px 10px;
}

.menuHamburger {
  display: none;
  background-color: $blue-color;
  border: none;

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $white-color;
  }
}

.hero {
  position: relative;

  img {
    width: 100%;
    height: 360px;
    background-color: $default-hero-color;
    filter: brightness(50%);
    display: flex;
    flex-direction: column;
    object-position: center;
    object-fit: cover;
    -webkit-user-drag: none;
  }

  .hero-text {
    text-align: center;
    color: white;
    position: absolute;
    padding-top: 35px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 30px;
    }

    p {
      font-size: 20px;
    }
  }
}

/* ======= main ======= */

main {
  width: 95%;
  margin: 0 auto;
}

.content {
  padding: 0 20px;
}

.heading {
  width: 100%;
  margin: 60px auto;
  text-align: center;
}

.heading-label {
  font-size: 32px;
  font-weight: 500;
}

.heading-text {
  font-size: 20px;
  font-weight: 300;
  margin-top: 12px;
}

/* Posts */

.posts-explore,
.posts-review,
.posts-card {
  margin: 34px auto auto;
  text-align: left;
}

/* Card */

.card-item {
  background-color: $white-color;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.card-item__content {
  padding: 18px 18px 28px;
}

.card-item__thumbnail {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-item__readmore {
  text-align: center;
  margin-top: 32px;

  a {
    font-size: 16px;
    padding: 12px 16px;
    font-weight: 600;
    color: $default-body-color;
    text-decoration: none;
    background-color: $blue-color;
    border: 2px solid $blue-color;
    border-radius: 6px;
    text-decoration: none;
  }

  a:hover {
    color: $blue-color;
    background-color: $default-body-color;
    border: 2px solid $blue-color;
  }
}

.contain-img-resto,
.contain-img-fact {
  position: relative;
  text-align: center;
  color: $white-color;
}

/* Explore Content */

.city__top-left {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  font-weight: 600;
  background-color: $city-color;
  border-radius: 0 0 10px 0;
  padding: 10px;
}

.resto-item__title {
  font-weight: 600;
  font-size: 22px;
  transition: 0.3s opacity;

  a {
    text-decoration: none;
    color: inherit;
    padding: 12px 0;
  }

  a:hover {
    color: $blue-color;
    font-weight: 700;
  }
}

.resto-item__rating {
  margin: 14px 0;
}

.resto-item__description {
  display: -webkit-box;
  font-size: 15px;
  line-height: 1.5em;
  overflow: hidden;
  text-align: justify;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* Review Content */

.comment-item__content {
  padding: 18px;
}

.comment-item__avatar {
  display: flex;
  margin-bottom: 6px;

  .img-avatar {
    object-fit: cover;
    border: 1px solid $blue-color;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    padding: 1px;
    margin-top: 6px;
  }
}

.comment-item__title {
  margin-left: 1.2rem;
  margin-top: 0.4rem;

  h1 {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 15px 10px 0;
    margin-top: -10px;
  }

  p {
    font-size: 12px;
    font-weight: 500;
    margin-top: 3px;
  }
}

.comment-item__description {
  margin-top: 18px;
  font-size: 14px;
  line-height: 1.5em;
}

/* Star Rating Restaurant */

.resto-rating {
  display: flex;
  background-color: $rating-color;
  color: $white-color;
  border-radius: 10px;
  padding: 0 8px;
  width: fit-content;

  h2 {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 8px 8px 4px;
  }
}

.star-rating-resto {
  width: 18px;
  margin: 0 6px 1px 2px;
}

/* Food Fact Content */

.fact-item__title {
  font-weight: 600;
  font-size: 22px;
}

.fact-item__date {
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
  margin: 16px 0;
}

.fact-item__date__author {
  color: $blue-color;
  text-decoration: none;
  padding: 16px 18px 16px 2px;
}

.fact-item__description {
  display: -webkit-box;
  font-size: 15px;
  line-height: 1.5em;
  overflow: hidden;
  text-align: justify;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

/*
    Detail
*/

.pos-fix {
  margin: 40px auto 30px;
}

.detail {
  max-width: 1300px;
  margin: 0 auto;
  font-size: 1.1rem;

  .detail__resto {
    display: grid;
    grid-gap: 1.545em;
    margin-bottom: 25px;

    .detail__poster {
      object-fit: cover;
      width: 100%;
      border-radius: 30px;
      border: 5px solid $blue-color;
      margin: auto 0;
    }

    .detail__info {
      display: flex;
      flex-direction: column;
      row-gap: 5px;
      margin: 40px 0;

      .name,
      .address,
      .rating,
      .category,
      .favorite {
        padding: 0.6em;
        align-items: start;
        color: $black-color;
        text-decoration: none;
      }

      .name {
        font-size: 26px;
        font-weight: 700;

        span {
          margin-left: 6px;
        }

        i {
          font-size: 22px;
        }
      }

      .address {
        font-size: 16px;
        font-weight: 600;

        span {
          margin-left: 8px;
        }

        i {
          font-size: 18px;
          margin: 0 10px;
        }
      }

      .category {
        display: flex;
        gap: 6px;

        p {
          font-size: 18px;
          font-weight: 500;
        }

        span {
          font-style: italic;
          font-size: 15px;
          border: 2px solid #c9c9c9;
          border-radius: 12px;
          padding: 1px 10px;
          cursor: default;
        }
      }

      .favorite {
        button {
          padding: 12px 26px;
          background-color: #f900bf;
          border: none;
          border-radius: 12px;
          color: $default-body-color;
          font-size: 20px;
          font-weight: 600;
          cursor: pointer;

          i {
            margin-right: 10px;
          }
        }

        button:hover {
          background-color: #d104a1;
        }
      }

      .name i,
      .address i {
        color: $blue-color;
      }
    }
  }

  .detail__description {
    margin-bottom: 25px;

    h3 {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      padding: 25px 0;
    }

    p {
      line-height: 1.5em;
      text-align: justify;
    }
  }

  .detail__menu {
    margin-bottom: 60px;

    h3 {
      padding: 20px 0;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      padding: 25px 0;
    }

    .menu__list {
      display: grid;
      row-gap: 20px;
      column-gap: 2px;
      text-align: center;

      h4 {
        font-size: 1.2rem;
        width: 100%;
        border: 1px solid #cacaca;
        padding: 10px;
        text-align: center;
        margin: 2px;
        border-radius: 4px;
        background-color: $white-color;
      }

      li {
        width: 100%;
        border: 1px solid #cacaca;
        padding: 10px;
        margin: 2px;
        list-style: none;
        border-radius: 4px;
        background-color: $white-color;
      }
    }
  }
}

/*
    form review
*/

form {
  margin: 25px 0 40px;
  border-radius: 10px;

  .form-row {
    margin-bottom: 20px;
    margin-top: 8px;

    h2 {
      font-size: 18px;
      font-weight: 600;
      text-align: left;
      padding: 6px 0 12px 4px;
      margin-bottom: 10px;
    }

    .input-text {
      display: block;
      width: 100%;
      min-height: 16px;
      padding: 16px;
      color: #212121;
      background-color: #fff;
      border: 2px solid rgba(125, 125, 125, 0.5);
      border-radius: 10px;
      font-size: 16px;
    }

    .textarea {
      resize: none;
      height: 150px;
      font-family: 'Open Sans', sans-serif;
    }
  }

  button {
    padding: 14px 16px;
    width: 150px;
    margin: 12px 0;
    background-color: #fc3d0d;
    border: none;
    border-radius: 20px;
    color: $white-color;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  button:hover {
    background-color: #d4330b;
  }
}

/* 
    Loading
*/

.load-text {
  text-align: center;
  margin-bottom: 70px;

  h3 {
    font-size: 35px;
    font-weight: 500;
  }

  .load-error {
    color: $skip-color;

    i {
      font-size: 60px;
      margin-bottom: 25px;
    }
  }

  .lds-dual-ring {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .lds-dual-ring:after {
    content: ' ';
    display: block;
    width: 110px;
    height: 110px;
    margin: 6px;
    border-radius: 50%;
    border: 6px solid $rating-color;
    border-color: $rating-color transparent $rating-color transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

/* ======= footer ======= */

footer {
  padding: 30px;
  color: $white-color;
  background-color: #343f56;
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  text-align: center;
  font-weight: bold;
}
