@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

$default-body-color: #eee;
$skip-color: #fc3d0d;
$blue-color: #035397;
$default-hero-color: #6bcb77;
$city-color: #f28841;
$rating-color: #116530;
$footer-color: #343f56;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $default-body-color;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

/* ======= Skip to Content ======= */

.skip-link {
  position: fixed;
  top: -46px;
  left: 0;
  background-color: $skip-color;
  color: white;
  border: none;
  padding: 12px;
  font-weight: 600;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  border-radius: 0 0 10px 0;
}

/* ======= header ======= */

header {
  display: inline;

  a {
    text-decoration: none;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px 0 20px;
  background-color: $blue-color;
  position: sticky;
  top: 0;
  z-index: 10;

  li {
    display: inline;
    list-style-type: none;
  }
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  padding: 0 1.2rem;

  a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    padding: 10px 2px;
  }

  a:hover {
    font-weight: bold;
  }
}

.logo-img {
  align-items: center;
  margin-top: 6px;
}

.nav-logo-pos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.nav-logo {
  font-size: 1rem;
  font-weight: bolder;
  color: white;
  cursor: default;
  margin: 14px 0 12px 10px;
}

.menuHamburger {
  display: none;
  background-color: $blue-color;
  border: none;

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }
}

.hero {
  position: relative;

  img {
    background-color: #6bcb77;
    filter: brightness(50%);
    object-fit: cover;
    -webkit-user-drag: none;
  }

  .hero-text {
    text-align: center;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 30px;
    }

    p {
      font-size: 20px;
    }
  }
}

/* ======= main ======= */

main {
  width: 95%;
  margin: 0 auto;
  flex: 1;
}

.content {
  padding: 0 20px;
}

.heading {
  width: 100%;
  margin: 60px auto;
  text-align: center;
}

.heading-label {
  font-size: 32px;
  font-weight: 500;
}

.heading-text {
  font-size: 20px;
  font-weight: 300;
  margin-top: 12px;
}

/* Posts */

.posts-explore,
.posts-review,
.posts-card {
  margin: 34px auto auto;
  text-align: left;
}

/* Card */

.card-item {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.card-item__content {
  padding: 18px 18px 28px;
}

.card-item__thumbnail {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-item__readmore {
  text-align: center;
  margin-top: 16px;

  a {
    font-size: 16px;
    font-weight: 600;
    color: black;
    padding: 12px;
  }

  a:hover {
    text-decoration: none;
  }
}

.contain-img-resto,
.contain-img-fact {
  position: relative;
  text-align: center;
  color: white;
}

/* Explore Content */

.city__top-left {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  font-weight: 600;
  background-color: $city-color;
  border-radius: 0 0 10px 0;
  padding: 10px;
}

.resto-item__title {
  font-weight: 600;
  font-size: 22px;
  transition: 0.3s opacity;

  a {
    text-decoration: none;
    color: inherit;
    padding: 12px 0;
  }
}

.resto-item__title:hover {
  opacity: 0.8;
}

.resto-item__description {
  margin-top: 18px;
  font-size: 15px;
  line-height: 1.5em;
  overflow: hidden;
}

/* Review Content */

.comment-item__content {
  padding: 18px;
}

.comment-item__avatar {
  display: flex;
  margin-bottom: 6px;

  .img-avatar {
    object-fit: cover;
    border: 1px solid $blue-color;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    padding: 1px;
    margin-top: 6px;
  }
}

.comment-item__title {
  margin-left: 1.2rem;
  margin-top: 0.4rem;

  h1 {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 15px 10px 0;
    margin-top: -10px;
  }

  p {
    font-size: 12px;
    font-weight: 500;
    margin-top: 3px;
  }
}

.comment-item__description {
  margin-top: 18px;
  font-size: 14px;
  line-height: 1.5em;
}

/* Star Rating Restaurant */

.resto-rating {
  display: flex;
  margin-top: 14px;
  background-color: $rating-color;
  color: white;
  border-radius: 10px;
  padding: 0 8px;
  width: fit-content;

  h2 {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 8px 8px 4px;
  }
}

.star-rating-resto {
  margin: 9px 6px 1px 2px;
}

/* Food Fact Content */

.fact-item__title {
  font-weight: 600;
  font-size: 22px;
}

.fact-item__date {
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
  margin-top: 16px;
}

.fact-item__date__author {
  color: $blue-color;
  text-decoration: none;
  padding: 16px 18px 16px 2px;
}

.fact-item__description {
  margin-top: 18px;
  font-size: 15px;
  line-height: 1.5em;
  overflow: hidden;
}

/*
    Detail
*/

.pos-fix {
  margin: 40px auto;
}

.detail {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  gap: 18px 16px;

  .detail__title {
    margin-bottom: -10px;

    h2 {
      font-size: 26px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 5px;
      padding: 6px 0;
    }
  }

  .detail__poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border: 5px solid $blue-color;
  }

  .detail__info {
    margin-bottom: 20px;
  }
}

.detail .split-info,
.detail .detail__overview {
  margin: 0 30px;
}

.detail .detail__info > h4,
.detail__overview > h3 {
  margin: 10px 0 8px;
  font-weight: 700;
}

.btn-like {
  padding: 12px 14px;
  width: 150px;
  margin: 20px 30px 15px;
  background-color: #f900bf;
  border: none;
  border-radius: 20px;
  color: $default-body-color;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;

  i {
    margin-right: 8px;
  }
}

.btn-like:hover {
  background-color: #d104a1;
}

/* 
    Loading
*/

.load-text {
  margin: 70px auto;
  h2 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
  }
}

/*
    form review
*/

form {
  margin: 25px 0 40px;
  border-radius: 10px;

  .form-row {
    margin-bottom: 20px;
    margin-top: 8px;

    h2 {
      font-size: 18px;
      font-weight: 600;
      text-align: left;
      padding: 6px 0 12px 4px;
      margin-bottom: 10px;
    }

    .input-text {
      display: block;
      width: 100%;
      min-height: 16px;
      padding: 16px;
      color: #212121;
      background-color: #fff;
      border: 2px solid rgba(125, 125, 125, 0.5);
      border-radius: 10px;
      font-size: 16px;
    }

    .textarea {
      resize: none;
      height: 150px;
      font-family: "Open Sans", sans-serif;
    }
  }

  .btn-review {
    padding: 14px 16px;
    width: 150px;
    margin: 12px 0;
    background-color: #fc3d0d;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  .btn-review:hover {
    background-color: #d4330b;
  }
}

/* ======= footer ======= */

footer {
  padding: 30px;
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  background-color: #343f56;
  position: sticky;
  font-size: 16px;
  p {
    color: white;
    text-align: center;
    font-weight: bold;
    a {
      color: white;
      text-decoration: none;
      padding: 12px 0;
    }
  }
}

/*
  Skeleton
*/

.skeleton {
  user-select: none;
  background-color: #eeeeee;
  color: black;
}
